body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    text-align:center;
}
nav ul{
    padding:0;
    text-align: center;
}
nav li{
    display:inline-block
}
nav a {
    text-decoration: none;
    padding: 8px;
    background-color: red;
    border-radius:4px;
}
h1 {
    text-align: center;
}
main,
footer {
    max-width: 600px;
    margin: 100px auto;
}
footer , aside{
    text-align: center;
}

::selection{
    background : red;
}